button{
  border: none;
}
.search-bar{
  background-color: #fff;
  width: 90%;
  max-width: 350px;
  height: 4em;
  border-radius: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 6px 0px #0000001A;
}
.element{
  height: fit-content;
  flex-grow:2;
  text-align: center;
}
.element:hover{
  cursor: pointer;
}
.search-bar--search-icon{
  flex-grow:1;
  color: #EB5757E5;
}

.division{
  height: 4em;
  width: 1px;
  background-color: #0000001A;
}