.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0 1em;
}
.App header{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-logo{
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

/* stays container grid */
.stays-container{
  width: fit-content;
}
.stays-container > *{
  padding: 0 20px;
}

@media screen and (min-width:800px){
  .stays-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width:1300px){
  .stays-container{
    grid-template-columns: 1fr 1fr 1fr;
  }
}


@media screen and ( min-width:650px) {
  .App header{
    flex-direction: row;
    margin: 20px 0;
  }
}